body {
  
}

h1{
  border: 5px solid #000000;
  padding: 5px;
  margin-right: 650px;
  margin-left: 650px;
}

.principal {
  background: #CCCCCC;
}

#banner {
  width: 100%;
  height: 400px;
}

p {
  text-align: center;}

strong {
  color: #ff0000;
}

.beneficios {
  background: #FFFFFF;
  padding: 20px;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

#missao{
  font-size: 25px;
}

#imagembeneficios {
  width: 50%;
}

h2 {
  text-align: center;
}

.itens {
  font-style: italic;
}
