body {
  background: #CCCCCC
}

h1{
  border: 5px solid #ffffff;
}

#banner {
  width: 100%;
  height: 400px;
}

p {
  text-align: center;}

strong {
  color: #ff0000;
}

#missao{
  font-size: 25px;
}
